<form action="/filtered" method="POST" oninput="" class="filter">
  <fieldset>
    <legend class="pref">Preferences</legend>
      <legend>Of which movie do you want to filter users?</legend>
      <label for="I'm interested in..."></label>
      <label for="movie"><input type="checkbox" name="movie" id="The Lighthouse" value="The Lighthouse">The Lighthouse</label>
      <label for="movie"><input type="checkbox" name="movie" id="The Shining" value="The Shining">The Shining</label>
      <label for="movie"><input type="checkbox" name="movie" id="Get Out" value="Get Out">Get Out</label>
      <label for="movie"><input type="checkbox" name="movie" id="Interstellar" value="Interstellar">Interstellar</label>
      <label for="movie"><input type="checkbox" name="movie" id="The Godfather" value="The Godfather">The Godfather</label>
      <label for="movie"><input type="checkbox" name="movie" id="Pulp Fiction" value="Pulp Fiction">Pulp Fiction</label>
    </fieldset>
  </fieldset>
  <button type="submit">Change preferences</button>
</form>
{{ movies }}