/* General */
@font-face {
  font-family: 'Hollywood';
  src: url('font/sf-hollywood-hills.regular.ttf') format('truetype');
}

MoviePosterPersonalUse-axyeE
*, *::before, *::after {
  box-sizing: border-box;
  max-width: 100vw;
}

body {
  background-color: #f19044;
  margin: 40px 20px;
  font-family: 'Work Sans', sans-serif;
}

h1, h2, form p {
  text-align: center;
  font-family: 'Hollywood', sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-size: 2em;
}

h2 {
  margin: 20px 0;
  text-align: center;
}

img {
  object-fit: cover;
  max-height: 580px;
  width: 100%;
  height: auto;

  filter: grayscale(100%);
}

button {
  display: block;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  padding: 20px 30px;
  margin: 20px auto;

  font-size: 1em;
  font-family: 'Work Sans', sans-serif;
}

/* Button pseudo classes */
button:hover {
  cursor: pointer;
  background-color: rgb(205, 205, 205);
}

button:active {
  border-style: dashed;
  border-width: thin;
  border-color: rgb(87, 87, 87);
}

button:focus {
  border-style: dashed;
  border-width: thin;
  border-color: white;
}

/* Forms */
form {
  margin-bottom: 60px;
  text-align: center;
}

form p {
  font-size: 2em;
  margin-bottom: 15px;
}

label img {
  transition: ease 0.3s;
  object-fit: cover;
  height: 200px;
  width: auto;
  margin: 10px;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  border: 5px solid rgb(148, 90, 13);
}

/* View user's movie list */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

li {
  background-color: #fce0cd;
  padding: 20px;
  padding-top: 0px;
  margin: 80px auto;
  height: auto;
  max-width: 400px;
}

/* Movie ticket effect */
li {
  position: relative;
}

li::before, li::after{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

li::before {
  background-image: url('../img/film-top.png');
  top: -50px;
  height: 63px;
}

li::after {
  background-image: url('../img/film-bottom.png');
  bottom: -70px;
  height: 93px;
}

/* Hide form inputs */
.visually-hidden {
  /* bron: a11y */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* Responsive */
@media only screen and (min-width: 800px) {
  li {
    padding-left: 30px;
    padding-right: 30px;
  }

  li::before {
    top: -60px;
  }

  label img {
    height: 450px;
    max-width: none;
    width: auto;
    margin: 20px;
  }
}

@media only screen and (min-width: 1050px) {
  body {
    margin: 30px 20px;
  }

  h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }

  ul {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
  }

  li {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 420px;
  }
}
