<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What is your name?</title>
    <link rel="stylesheet" href="../public/style/style.css">
  </head>
  <body>
    <h1>What is your name:</h1>
    <form action="/name" method='POST'>
      <label for="firstname">
        <input type='text' name='firstname' id='firstname'>
      </label>
      <button type='submit'>Submit</button>
    </form>
  </body>
</html>
