<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>{{ info.name }}, your choices are:</h1>
    <h3>1: {{ info.movieChoice1 }}</h3> <a href="">Verander de keuze</a>
    <h3>2: {{ info.movieChoice2 }} </h3> <a href="">Verander de keuze</a>
 
    <form action="/delete" method="POST">
    <label for="delete"><h2>Would you like to delete your account?</h2>
    <button>Delete</button>
    </label>
    </form>

    <form action="/cookieRemovie" method="POST">
    <label for="remove"><h2>Would you like to logout (Remove session)?</h2>
    <button>Log Out</button>
    </label>
    </form>
    <script src="server.js"></script>
</body>
</html>