<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>{{ data.firstname }}'s keuzes waren:</h1>
    <h3>1: </h3>
    <h3>2: {{data.movie1}} </h3>
    <a href="http://localhost:3000/form.html">Try again</a>


    <form id='add' action="/add" method='POST'>
    <label for="movie_title">
        <input id='add' type="text" name='title' placeholder="Movie title">
    </label>
    <label for="movie_description">
        <textarea id='add' name="description" id="description" cols="30" rows="10" placeholder="Movie description"></textarea>
    </label>
    <button>Submit</button>
    </form>

    <script src="server.js"></script>
</body>
</html>