html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;  
    padding: 0;
    background-color: #f19044;
    color: #000000;
}
header{
    background-color: #db7d37;

    
}
h1 {
    font-family: 'Archivo Black', sans-serif;
    display: inline;    
    font-size: 0.7em;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
}
.img {
    width: 20vw;
    border: 0.3em solid #fce0cd;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 0.7em;
    font-style: none;
    text-decoration: none;
}
.flex-container{
    margin: 0 5vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
article{
    padding: 1vw;
    margin: 2vw;
    background-color: #db7d37;
    border-radius: 5px;
}

a{
    font-style: none;
    text-decoration: none;
    color: #000000;
}

h3{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 2em;
    margin: 0.5em 0 0 0;
}
.pcenter{
    margin: 5px;   
text-align: center;
}
.logodia{
    
    text-align: center;
    width: 5vw;
}